<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="head">
        <meta charset="UTF-8"/>
        <!--        <link th:href="@{/css/styles.css}" rel="stylesheet">-->
    </div>

</head>

<body>

<div th:fragment="header">
    <a th:href="@{/}">Index Page</a>
    <a th:href="@{/mainHall}">Main Hall</a>
    <a th:href="@{/registered}">Registered User</a>
    <a th:href="@{/Tasks}">Tasks</a>
    <a th:href="@{/admin/Houses}">Houses </a>
    <a th:href="@{/admin/Courses}">Courses </a>
    <a th:href="@{/admin/Users}">Users </a>


</div>

<h2 th:fragment="common">Common knowledge</h2>

<div class="test1">
    Fragment class call!
</div>

<div id="id1">
    Fragment ID call!
</div>

<div th:fragment="formField(value, size)">
    <div>
        <input type="text" th:value="${value}" th:size="${size}">
    </div>
</div>

<footer th:fragment="footer">
    <a th:href="@{/fragments}">Fragments Index</a> |
    <a th:href="@{/markup}">Markup inclussion</a> |
    <a th:href="@{/params}">Fragment params</a> |
    <a th:href="@{/other}">Other</a>
</footer>

</body>
</html>