<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="fragments/general.html :: head"></div>
    <title>Add User</title>
</head>
<body class="bg-secondary">
<header th:insert="fragments/general.html :: header">
</header>


<article class="mt-3 mx-5 px-5">

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <form action="#" th:action="@{/admin/save-course}"
              th:object="${course}" method="post" id="courseForm">
            <table class="table table-primary table-hover table-borderless">
                <input type="hidden" th:field="*{id}">
                <tr>
                    <td>Name:</td>
                    <td><input class="form-control" type="text" th:field="*{name}"></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>
                        <textarea class="form-control" th:field="*{description}" form="courseForm"></textarea>
                    </td>
                </tr>

                <tr>
                    <td>Teacher:</td>
                    <td>
                        <select type="number" th:field="*{teacher.id}">
                            <option th:value="0">Select Teacher</option>
                            <option th:each="teacher : ${teachers}" th:value="${teacher.id}"
                                    th:text="${teacher.name}+' '+${teacher.surname}"></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Credits:</td>
                    <td><input type="number" th:field="*{credits}"></td>
                </tr>
                <tr>
                    <td><input class="btn btn-warning" type="submit" value="Submit"/></td>
                    <td><input class="btn btn-warning" type="reset" value="Reset"/></td>
                </tr>
            </table>
        </form>
    </div>

    <div sec:authorize="isAuthenticated()">
        <table class="table table-primary table-hover table-borderless">
            <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Teacher</th>
                <th>Credits</th>
                <th>Students</th>
                <th>Tasks</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course, aStat : ${courses}">
                <th th:text="${aStat.count}"></th>
                <td th:text="${course.id}"></td>
                <td th:text="${course.name}"></td>
                <td>
                    <textarea readonly th:text="${course.description}"></textarea>
                </td>
                <td th:text="${course.teacher}==null ? 'No Teacher' : ${course.teacher.name}+' '+${course.teacher.surname}"></td>
                <td th:text="${course.credits}"></td>
                <td th:text="${course.enrolCourses.size()}"></td>
                <td th:text="${course.tasks.size()}"></td>
                <td sec:authorize="hasAnyRole('ROLE_STUDENT')">
                    <a class="btn btn-warning" th:href="@{/student/Courses/{courseID}(courseID=${course.id})}">Info</a>
                </td>
                <td sec:authorize="hasAnyRole('ROLE_TEACHER')">
                    <a class="btn btn-warning" th:href="@{/teacher/Courses/{courseID}(courseID=${course.id})}">Info</a>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="btn btn-warning" th:href="@{/admin/course-info/{id}(id=${course.id})}">Info</a>
                    <a class="btn btn-warning" th:href="@{/admin/Courses/{id}(id=${course.id})}">Update</a>
                    <a class="btn btn-warning" th:href="@{/admin/delete-course/{id}(id=${course.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</article>

<footer></footer>
<div th:insert="fragments/general.html :: script"></div>
</body>
</html>