<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:insert="fragments/general.html :: head">
    <title>Add User</title>
</head>
<body>
<header th:insert="fragments/general.html :: header">
</header>


<article>
    <br>
    <form action="#" th:action="@{/admin/save-course}" th:object="${course}" method="post" id="courseForm">
        <table border="1">
            <input type="hidden" th:field="*{id}">
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>
                    <textarea th:field="*{description}" form="courseForm"></textarea>
                    <!--                    <input type="text" >-->
                </td>
            </tr>

            <tr>
                <td>Teacher:</td>
                <td>
                    <select type="number" th:field="*{teacher.id}">
                        <option th:value="0">Select Teacher</option>
                        <option th:each="teacher : ${teachers}" th:value="${teacher.id}"
                                th:text="${teacher.name}+' '+${teacher.surname}"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Credits:</td>
                <td><input type="number" th:field="*{credits}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"/></td>
            </tr>
        </table>
    </form>

    <br>

    <table border="2">
        <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Teacher</th>
            <th>Credits</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course, aStat : ${courses}">
            <td th:text="${aStat.count}"></td>
            <td th:text="${course.id}"></td>
            <td th:text="${course.name}"></td>
            <td>
                <textarea readonly th:text="${course.description}"></textarea>
            </td>
            <td th:text="${course.teacher}==null ? 'No Teacher' : ${course.teacher.name}+' '+${course.teacher.surname}"></td>
            <td th:text="${course.credits}"></td>
            <td>
                <a th:href="@{/admin/course-info/{id}(id=${course.id})}">Info</a>
                <a th:href="@{/admin/Courses/{id}(id=${course.id})}">Update</a>
                <a th:href="@{/admin/delete-course/{id}(id=${course.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>


    <br>


</article>

<footer></footer>
</body>
</html>