<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/general.html :: head">
    <title>Add User</title>
</head>
<body class="bg-success">
<header th:insert="fragments/general.html :: header">
</header>

<article>
    <div class="mx-5 px-5" sec:authorize="hasRole('ROLE_ADMIN')">

        <form action="#" th:action="@{/admin/save-house}" th:object="${house}" method="post">
            <table class="table table-primary table-hover table-borderless mt-3">
                <input type="hidden" th:field="*{id}">
                <tr>
                    <td>Name:</td>
                    <td><input class="form-control" type="text" th:field="*{name}"></td>
                </tr>
                <tr>
                    <td>House Head:</td>
                    <td>
                        <select type="number" th:field="*{head.id}">
                            <option th:value="0">Select Teacher</option>
                            <option th:each="head : ${teachers}" th:value="${head.id}"
                                    th:text="${head.name}+' '+${head.surname}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit"/></td>
                    <td><input type="reset" value="Reset"/></td>
                </tr>
            </table>
        </form>

        <table class="table table-primary table-hover table-borderless mt-3">
            <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Name</th>
                <th>House Head</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="house, aStat : ${houses}">
                <td th:text="${aStat.count}"></td>
                <td th:text="${house.id}"></td>
                <td th:text="${house.name}"></td>
                <td th:text="${house.head}==null ? 'No Head' : ${house.head.name}+' '+${house.head.surname}"></td>
                <td>
                    <button><a th:href="@{/admin/info-house(id=${house.id})}">Info</a></button>
                    <button><a th:href="@{/admin/Houses/{id}(id=${house.id})}">Update</a></button>
                    <button><a th:href="@{/admin/delete-house/{id}(id=${house.id})}">Delete</a></button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</article>

<footer></footer>
</body>
</html>