<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title> Register </title>
</head>
<body>
<header th:insert="fragments/general.html :: header">>
</header>


<article>

    <div th:replace="fragments/general.html :: common"></div>
    <div>
        <p>Hello!</p>
                <p th:text="${user.name}+' '+${user.surname}+' ,welcome back.'"></p>
<!--        <p th:text="${user.name}+' '+${user.surname}"></p>-->
    </div>

</article>

<footer>

</footer>
</body>
</html>