<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:insert="fragments/general.html :: head">
    <title>Add User</title>
</head>
<body>
<header th:insert="fragments/general.html :: header">
</header>


<article>
    <br>
    <table border="1">
        <tr>
            <td>ID:</td>
            <td th:text="${user.id}"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td th:text="${user.name}"></td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td th:text="${user.surname}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td th:text="${user.email}"></td>
        </tr>
        <tr>
            <td>Role:</td>
            <td th:text="${user.role}"></td>
        </tr>
    </table>
    <br>

    <table border="2" th:if="${user.role}=='STUDENT' ">
        <caption><b>Tasks</b></caption>
        <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Reference</th>
            <th>In Course</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="enrolTask, aStat : ${user.enrolTasks}">
            <td th:text="${aStat.count}"></td>
            <td th:text="${enrolTask.task.id}"></td>
            <td th:text="${enrolTask.task.name}"></td>
            <td th:text="${enrolTask.task.description}"></td>
            <td>
                <a th:href="@{${enrolTask.task.reference}}">Link</a>
                <!-- th:title="${enrolTask.task.reference}"-->
            </td>
            <td th:text="${enrolTask.task.course}==null ? 'No Course' : ${enrolTask.task.course.name}"></td>
        </tr>
        </tbody>
    </table>


</article>

<footer></footer>
</body>
</html>